body{
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.header-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  padding: 20px 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 22px;
  
}

.ismail-bg2{
  width: 15%;
  border-radius: 150px;
 
}




.navbar a{
  position: relative;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  margin-left: 10px;
}

.navbar a ::before{
  content:"" ;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: aliceblue;
  transition: .3;
  
}
  .navbar a:hover::before {
    width:100%;
  }

h1{
  font-size: 30px;
}








section{
  flex-basis: 30%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
    
}

  .ismail-ismail {
  width: 200px;
  border-radius: 100px;
  display: block;
   margin: 0 auto; 
    filter: drop-shadow(5px 5px 10px #000000);
    
  }

.header { 
  background-image: url('ismail/background3.jpg ');
  background-size: cover;
  color: white; 
  font-size: 16px;
  background-attachment: fixed;
  text-shadow: 3px 3px #000;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  background-image: url('ismail/background4.jpg');
  background-size: cover;
  font-size: 16px;
  color: black;
}



.contact {
  background-image: url('ismail/background5.jpg');
  background-size: cover;
  font-size: 16px;
  color: ghostwhite;
  
}

a  {
  text-decoration: none;
  color: black;
} 
 
 footer {
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(93, 97, 149, 0, 26);
  color: whitesmoke;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
font-size: 40px;
 text-align: center;
} 
  
  footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font: 20px;
    color: white;
  }
  
  li a{
    text-decoration: none;
    color: whitesmoke;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  }
 